{title-block}# {title}{end-title-block}

{tags-block}_Tagged: {tags}_{end-tags-block}
{created-at-block}_Created: {created-at}_{end-created-at-block}
{updated-at-block}_Last updated: {updated-at}_{end-updated-at-block}
{source-url-block}_Source: []({source-url})_{end-source-url-block}

---

{content-block}{content}{end-content-block}

---

